<% content_for :head do %>
  <script type="text/javascript">
    document.observe('dom:loaded', function() {
      var d = new DrawDrawDraw.Draw('container');
    });
  </script>
<% end %>

draw anywhere with the mouse
<div id="container">
  <% Canvas.all.each do |c| %>
    <img src="<%= c.data %>" class="canvas"/>
  <% end %>
</div>
